<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Khepra</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
  <body>
  <%- include('partials/nav') %>
  <div class="container col">
    <h1 class="intro">Contact Khepra</h1>
    <%- include('partials/dash') %>
    <div class="icons row h-53 d-flex align-items-center justify-content-center">
      <a class="icon" href="https://www.tiktok.com/@khepra_ptah360"><img src="/images/tiktok.png"></a>
      <a class="icon" href="https://www.youtube.com/@KHMWST"><img src="/images/youtube.png"></a>
      <a class="icon" href="mailto:TODO?subject="New Website Inquiry"&body=body"><img src="/images/email.png"></a>
    </div>
    <h3>Call or Text (206)-960-7999</h3>
    <div class="row">
      <%- include('partials/footer') %>
    </div>
  </div>
  </body>
</html>